
cv-polymer,
cv-polymer *,
cv-polymer /deep/ * {
  box-sizing: border-box;
  font-family: 'Lato';
}

// Hacks for Safari, Safari doesn't regonize /deep/ rules, and rules combined
//  /deep/ rules, so here're two rules of same purpose
cv-polymer [resolved=false],
cv-polymer [hidden-condition=true] {
  display: none!important;
}
cv-polymer /deep/ [resolved=false],
cv-polymer /deep/ [hidden-condition=true] {
  display: none!important;
}

@media print {
  a {
    text-decoration: none!important;
  }
}

cv-polymer a.link-normal {
  color: inherit;
}
cv-polymer /deep/ a.link-normal {
  color: inherit;
}

cv-polymer a.link-shy {
  text-decoration: none;
}
cv-polymer a.link-shy:hover {
  text-decoration: underline;
}
cv-polymer /deep/ a.link-shy {
  text-decoration: none;
}
cv-polymer /deep/ a.link-shy:hover {
  text-decoration: underline;
}

cv-polymer marked-element {
  a {
    color: inherit;
  }
  p {
    text-align: justify;
  }
}
cv-polymer /deep/ marked-element {
  a {
    color: inherit;
  }
  p {
    text-align: justify;
  }
}

cv-polymer .marked-inline {
  p {
    margin: 0;
  }
}
cv-polymer /deep/ .marked-inline {
  p {
    margin: 0;
  }
}

@media screen {
  cv-polymer .color-scheme-dark {
    .scheme-text,
    .scheme-text-sub,
    .scheme-text-thin {
      transition: color 0.6s;
    }
    .scheme-text {
      color: rgba(32, 32, 32, 1);
    }
    .scheme-text-sub {
      color: rgba(32, 32, 32, 0.7);
    }
    .scheme-text-thin {
      color: rgba(32, 32, 32, 0.4);
    }
    .scheme-border-trans {
      border-color: rgba(0, 0, 0, 0.5)
    }
  }
  cv-polymer /deep/ .color-scheme-dark {
    .scheme-text,
    .scheme-text-sub,
    .scheme-text-thin {
      transition: color 0.6s;
    }
    .scheme-text {
      color: rgba(32, 32, 32, 1);
    }
    .scheme-text-sub {
      color: rgba(32, 32, 32, 0.7);
    }
    .scheme-text-thin {
      color: rgba(32, 32, 32, 0.4);
    }
    .scheme-border-trans {
      border-color: rgba(0, 0, 0, 0.5)
    }
  }

  cv-polymer .color-scheme-light {
    .scheme-text,
    .scheme-text-sub,
    .scheme-text-thin {
      transition: color 0.6s;
    }
    .scheme-text {
      color: rgba(255, 255, 255, 1);
    }
    .scheme-text-sub {
      color: rgba(255, 255, 255, 0.7);
    }
    .scheme-text-thin {
      color: rgba(255, 255, 255, 0.5);
    }
    .scheme-border-trans {
      border-color: rgba(255, 255, 255, 0.5)
    }
  }

  cv-polymer /deep/ .color-scheme-light {
    .scheme-text,
    .scheme-text-sub,
    .scheme-text-thin {
      transition: color 0.6s;
    }
    .scheme-text {
      color: rgba(255, 255, 255, 1);
    }
    .scheme-text-sub {
      color: rgba(255, 255, 255, 0.7);
    }
    .scheme-text-thin {
      color: rgba(255, 255, 255, 0.5);
    }
    .scheme-border-trans {
      border-color: rgba(255, 255, 255, 0.5)
    }
  }

}